body {
    margin: 0;
    background-color: #cdcdcd;

}
.header {
    height: 20vh;
    width: 100vw;
    background-color: #555555;
}

.body {
    height: 70vh;
    width: 76vw;
    margin: 0 12vw;
    background-color: linen;
}
.footer {
    height: 10vh;
    width: 76vw;
    margin: 0 12vw;
    background-color: #2c2c2c;
}